.search  {
    width: 25%;
    height: 100%;
    background-color: var(--teal);
    color: black;
    justify-content: space-between, left;
    border-right: solid var(--orange);
}

textarea {
    display:flex;
    display:inline-block;
    width:90%;
    resize:none;
    border-radius: 10px;
  }
  
.search #search {
    display:flex;
    display:inline-block;
    width:90%;
    margin-bottom:-10px;
    background-color: lightskyblue ;
    border-radius: 10px;
    color: white;
    border:10px;
}

header {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(0, 195, 255) , rgb(4, 0, 255));
    color: white;
}

#search-history button {
    background-color: lightgrey ;
    border-radius: 10px;
    color: black;
    border:10px;
}

#column-1 {
    display:flex;
    display:block;
    flex: 25%;
}

#column-2 {
    display:flex;
    flex: 75%;
    justify-content: end;
}